body {
    display: flex;
    flex-direction: column;
}

.largeContainer {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header {
    text-align: center;
}

.towers {
    display: flex;
    flex-direction: column-reverse;
    width: 25%;
    height: 70%;
    align-items: center;
    border: solid black 2px;
    margin-left: 2%;
}
#disc4 {
    background-color: black;
    width: 120px;
    height: 20px;
}

#disc3 {
    background-color: slategray;
    width: 100px;
    height: 20px;
}

#disc2 {
    background-color: palevioletred;
    width: 75px;
    height: 20px;
}

#disc1 {
    background-color: peachpuff;
    width: 50px;
    height: 20px;
}